# Build Directory and Files
build/
out/
cmake-build-*/

# --- CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# VSCode
.vscode/

# Logs and runtime
*.log
logs/
*.sqlite
*.db

# Clang-Format backup
.clang-format