name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake --preset ucrt64-ci

      - name: Build
        run: cmake --build --preset ci

      - name: Test
        run: ctest --preset ci --verbose
