name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure (CMake Preset)
        run: cmake --preset ucrt64-debug

      - name: Build
        run: cmake --build --preset ucrt64-debug
