name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-system:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake --preset ucrt64-ci

      - name: Build
        run: cmake --build --preset ci

      - name: Test
        run: ctest --preset ci --verbose
